@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    display: flex;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.information {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 165px;
    color: white;
    font-family: "Poppins", sans-serif;
    width: 525px;
    margin-top: 290px;
}

.information h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
}

.information p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.form-wrapper {
    display: flex;
}